@font-face {
  font-family: 'GaretHeavy';
  src: url('./fonts/Garet-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'GaretBook';
  src: url('./fonts/Garet-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 200vh;
}

/* CLEAN WRAPPER NOW — no background here */
.app {
  font-family: 'GaretHeavy', sans-serif;
  min-height: 100vh;
  width: 100%;
}
