@font-face {
  font-family: 'GaretHeavy';
  src: url('./fonts/Garet-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 200vh;
}


.app {
    font-family: 'GaretHeavy', sans-serif;
  height: 100%;
  width: 100%;
  background: radial-gradient(
      circle at 150% -50%,
      rgba(0, 0, 0, 0.5),
      rgba(104, 104, 104, 0.69)
    ),
    radial-gradient(
      at var(--mouse-x) var(--mouse-y),
      rgba(29, 29, 29, 0.397),
      rgba(0,0,0,0.5)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 341 341' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.3' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: cover;
  filter: contrast(250%) brightness(100%);
  position: relative;
}
